In [1]:
#import library yangg akan digunakan
import numpy as np
import pandas as pd

In [2]:
#load dataset hasil preparation
df=pd.read_csv("Netflix_&_TV_Show.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,data_time
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,Mature Audience,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",2021-09-24
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,Teens,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,2021-09-24
2,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,Teens,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,2021-09-24
3,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,Mature Audience,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,2021-09-23
4,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,Teens,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,2021-09-21

In [3]:
#menegecek ukruan data
df.shape

(5332, 13)

In [4]:
#menampilkan tipe data
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
data_time       object
dtype: object

In [5]:
#mengecek missing value
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
data_time       0
dtype: int64

In [6]:
#menegcek jumlah data berdasarkan kolom type
df.type.value_counts()

Movie      5185
TV Show     147
Name: type, dtype: int64

In [7]:
#menegcek jumlah data berdasarkan kolom country
df.country.value_counts()

United States                                     1846
India                                              875
United Kingdom                                     183
Canada                                             107
Spain                                               91
                                                  ...
Canada, Luxembourg                                   1
China, United States, United Kingdom                 1
Pakistan, Norway, United States                      1
United States, Canada, Belgium, United Kingdom       1
United States, France, Italy, United Kingdom         1
Name: country, Length: 604, dtype: int64

In [8]:
# summary statistic
df.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,5332.0,2012.742123,9.625831,1942.0,2011.0,2016.0,2018.0,2021.0

In [9]:
# mengubah tipe data 
df["data_time"]=pd.to_datetime(df["date_added"])

In [11]:
df.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
data_time       datetime64[ns]
dtype: object